{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block page_name2 %}REGISTER{% endblock page_name2 %}
{% block link2 %}{{ url_for('auth.login') }}{% endblock link2 %}
{% block link_name %}Login{% endblock link_name %}
{% block content %}
    <fieldset class='field'>    
        <h1>Sign Up!!</h1>
        {% for message in get_flashed_messages() %}
            <div class='flashes'>{{ message }}</div>
        {% endfor %}
        <form class='register_form' method='POST'>
            <label for='username'>Username:</label>
            <input name='username' id='username' placeholder='Username...'/> <br/>
            <label for='password'>Password:</label>
            <input type='password' name='password' id='password' placeholder='Password...'/>
            <label for='email'>Email:</label>
            <input name='email' id='email' placeholder='Email..' /> 
            <button class="button" type='submit'><b>Login</b></button>
        </form> 
    </fieldset>
{% endblock %}